*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
html
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: auto;
    width: auto;
}

.page-wrapper
{
 width: 100%;
 background-color: #f2f2f2
}

/* CSS Icon */
i.ti-search {
    padding: 0 20px;
    font-size: 20px;
    position: absolute;
    right: 0;
    vertical-align: middle;
    line-height: 2;
    cursor: pointer;
}

.fa-solid.fa-0,.ti-arrow-up,
.ti-notepad
{
    margin: 1px 9px 0 0;
}

/* .ti-mobile,.fa-solid.fa-apple-whole,
.fa-solid.fa-laptop,.fa-solid.fa-headphones,
.fa-solid.fa-battery-empty,.fa-solid.fa-desktop
{
    margin-right: 8px;
} */

.header-section
{

}
.header-banner
{

}
.header-banner.row
{

}
.header-banner.row.banner{

}
/* Phần header content */
.header-content
{

}

.header-content .logo
{

}

.header-content.header-form
{

}

.header-content .header-form  #search-mini-form
{
    background-color: white;
    border-color: white;
    border-radius: 50px;
    outline-color: white;
    outline-style: auto;
}

.header-content .header-form #txtSearch
{
    background-color: white;
    border-color: white;
    border-radius: 50px;
    outline-color: white;
    outline-style: auto;
}

.header-content.top-main-infor
{

}



.main-info-item.info-hotline {
    padding-right: 10px;
}

.info-hotline .phone-icon
{
    color: white;
    font-size: 20px;
    margin-right: 8px;
}


.info-hotline .info a
{
    color: white;
    text-decoration: none;
}

.header-content .top-main-infor .info-customers
{
    border-left: 1px solid white;
    padding: 0 10px 0 10px;
    border-right: 1px solid white;

} 
.info-customers .user-icon
{
    color: white;
    font-size: 20px;
    margin-right: 8px;
}

ul.header-links 
{
    padding: 0;
    margin: 0%;
}
.info-customers .header-links a
{
    color: white;
    text-decoration: none;
}
.info-customers .header-links .members-section
{
    margin-left: 8px;
}

.top-main-infor .shopify-icon {
    color: white;
    font-size: 20px;
    margin-right: 8px;
    padding-left: 10px;
}

.header-custom-block
{
    position: relative;
}
.header-custom-block li
{
    list-style-type: none;
}
.header-custom-block li a
{
    color: white;
    text-decoration: none;
    font-size: 12px;
}

/* Hover customer-block */
.header-custom-block li:hover a
{
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.39);
}
/* END HEADER */
/* Start: NAV */

.row-nav
{
    box-shadow: 0 5px 5px rgb(0 0 0 / 10%);
    background-color: #fff;
}
.navigation
{
    position: relative;
}
.nav-item
{
    padding: 24px 8px;
}
.nav-item li
{

}
.nav-link
{
    padding: 0;
    text-decoration: none;
}

a.nav-link
{
    color: black;
    font-size: 16px;
}

.menu-function-wrapper
{

}

.menu-function-wrapper .menu-function-item
{
    text-decoration: none;
    color: black;
    height: 40px;
    border: 0.5px solid #BDBDBD;
    border-radius: 8px;
}

.menu-function-item .wrapper
{
    padding: 8px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.wrapper .font-caption
{
    font-size: 13px;
}

.menu-item-special
{
    background-color: #be1e2d;
}
span.title.font-caption.font-special {
    color: white;
}

/* Hover Nav */
a:hover.nav-link
{
    color: #be1e2d;
}
li:hover.nav-item>.sub-nav
{
    display: block;
}
a:hover.menu-function-item
{
    background-color: #be1e2d;
    border: 1px solid #be1e2d;
    color: white;
}
a:hover.menu-item-special
{
    background-color: #ffb638;
    border: 1px solid #ffb638;
}
a:hover.menu-item-special
span.title.font-caption.font-special
{
    color: #333333;
}

/* END HOVER */
/* SUB NAV */
.sub-nav
{
    background-color: white;
    position: absolute;
    top: 70px;
    padding: 20px;
    border: 1px solid #d1d1d1;
    box-shadow: 0 5px 5px rgb(0 0 0 / 19%);
    min-width: 180px;
    display: none;
    z-index: 1;
}

.sub-nav-section
{
    display: inline-block;
    padding: 0 15px;
}
.sub-nav-item
{
    
}
li.sub-nav-item 
{
    list-style: none;
    margin-bottom: 15px;
}
a.sub-nav-link
{
    text-decoration: none;
    color: black;
}
/* Hover sub-nav 1 */
a:hover.sub-nav-link
{
    text-decoration: underline;
    color: red;
    
}

/* END NAV */
.footer-link-wrapper.content-part {
    display: flex;
    margin-top: 10px;
}

.footer-link.footer-link-left,.footer-link-right {
    flex: 1;
}
.footer-link-left ul,.footer-link-right ul
{
    list-style: none;
} 

.footer-link-left ul li,.footer-link-right ul li
{
    padding: 10px;
}

.footer-link-left a,.footer-link-right a
{
    text-decoration: none;
    color: black;
    display: flex;
}

.footer-link-left
{
    border-right: 1px solid #e0e0e0;
}


/* Ho tro */
.support-list ul
{
    list-style: none;
    padding: 0;
}

.columns {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: border-box;
    display: block;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -8px;
    margin-left: -8px;
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

  .img.card-img-top {
      height: 200px;
      width: 200px;
  }
    
    .container{
      width: 2000px;
      padding-left: 0px;
  
    }
    .container1 div {
           background: rgb(174, 9, 35);
           
           }
           .as {
            color: rgb(255, 255, 255);
            font-style: 20px Roboto,sans-serif;
            font-size: 24px;;
            text-decoration: none;
           }
  h3{
    text-decoration: none;
  }
  div.alert alert-info clearfix{
      background-color:  rgb(174, 9, 35);
  }